// This is Index Page 

// Mixins 
include includes/mixins.pug

doctype html
html
  head
    title My Site2
    link(rel='stylesheet', type='text/css', href='css/main_styles.css')
  body
    .main_container
      h1 Проверка связи все отлично!
      
      -var menu_items =["Главная", "Новости", "Контакты"]
      .menu
        +make_menu(menu_items)

      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi quas nostrum, illum provident. Voluptate tenetur, architecto deleniti rem hic laborum aut! Obcaecati sequi blanditiis nulla odio pariatur ad, laudantium autem.
      .test проверка связи

      #footer
        .footer_menu
          +make_menu(menu_items) 
        p copyright text 
          a тест

